body,html{
    height: 100%;
    margin: 0%;
}
.container{
    background-image: url('https://media.wired.co.uk/photos/606dba1c9a15f73a597a2aa1/master/w_1600%2Cc_limit/weather.jpg');
    height: 100%;
    width: 100%;
}
